/* -----------------------------------------------------------
 * Custom CSS
 *
 * Try not to edit other CSS files but add your styles here.
 * -----------------------------------------------------------
 */

a:visited {
    color: #111;
}

/* footer form */
.footer-form .form-title {
    margin-bottom: 2rem !important;
}

.footer-form .wpcf7 [type=text], 
.footer-form .wpcf7 [type=tel], 
.footer-form .wpcf7 [type=email], 
.footer-form .wpcf7 textarea, 
.footer-form .wpcf7-select {
    margin-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}

.footer-form input[type=submit] {
    background-color: #fff;
    border: 1px solid #fff;
    color: #1A2016;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding: 7px 28px;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

.footer-form input[type=submit]:hover {
    background-color: transparent;
    color: #fff;
}

.footer-form .button-box img {
    position: relative;
    right: 20px;
}

.footer-form .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 1rem;
}

.footer-form .wpcf7-not-valid-tip {
    color: #fff;
}

.footer-form .wpcf7-response-output {
    color: #fff;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* social menu (footer) */
#social-menu {}

#social-menu a {
    background-color: #85adb1;
    border-radius: 50%;
    display: block;
    min-height: 40px;
    min-width: 40px;
    padding: 11px 0 0;
    text-align: center;
}

#social-menu a i {
    color: #fff;
    font-size: 1.125rem;
}

#social-menu li {
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
}

/* home-page - 2nd section */
.main-second {
    background: url('../assets/img/leaf.png') right top no-repeat;
}

.main-second .price {
    right: 0;
    top: 110px;
    width: 166px;
}

.main-second .price-circle {
    background-color: #7fa9ae;
    border-radius: 50%;
    height: 166px;
    padding-top: 50px;
    text-align: center;
    width: 166px;
}

.main-second .price:hover {
    opacity: 1;
}

.main-second .price-from {
    color: #545454;
    display: block;
    font-size: 1.25rem;
}

.main-second .price-value {
    color: #fff;
    display: inline-block;
    font-size: 1.5rem;
}

.main-second .price-small {
    color: #fff;
    display: inline-block;
    font-size: 70%;
}

.main-second .woocommerce.columns-5 {
    width: 100%;
}

.main-second .woocommerce .columns-5 .product {
    display: flex;
    align-items: flex-end;
}

.main-second .woocommerce .button {
    display: none;
}

.main-second .woocommerce .woocommerce-loop-product__title {
    box-shadow: 0px 10px 30px #1818180d;
    border-radius: 7px;
    color: #545454;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 94px 42px 42px 42px !important;
    margin-top: -66px !important;
    text-align: center;
    transition: .3s ease-in-out;
}

#products-list-container {
    margin-bottom: 98px;
}

#products-list-container .woocommerce .button.product_type_simple {
    display: none;
}

#products-list-container .woocommerce-loop-product__title {
    border-radius: 7px;
    color: #545454;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 94px 42px 42px 42px !important;
    margin-top: -66px !important;
    text-align: center;
    transition: .3s ease-in-out;
}

@media (min-width: 40em) {
    
    .footer-form input[type=submit] {
        padding: 12px 28px;
    }
    
    .footer-form .button-box {
        margin-right: -20px;
        padding-right: 0;
    }
}

@media (min-width: 64em) {
    
    .footer-form input[type=submit] {
        padding: 14px 56px;
    }
    
    .footer-form .button-box {
        margin-right: -58px;
    }
    
    .main-second .woocommerce .columns-5 .product {
        margin: 0;
        padding: .9375rem;
        width: 20% !important;
    }
}

/* home-page - 3rd section */
.main-baner-second {
    background: url('../assets/img/Intersection 4.jpg') center center no-repeat;
    background-size: cover;
}

/* o-nas - 3rd section */
.about-third {}

.about-third .price {
    right: 0;
    top: 110px;
    width: 115px;
}

.about-third .price-circle {
    background-color: #7fa9ae;
    border-radius: 50%;
    height: 115px;
    padding-top: 30px;
    text-align: center;
    width: 115px;
}

.about-third .price-from {
    color: #545454;
    display: block;
    font-size: .8rem;
}

.about-third .price-value {
    color: #fff;
    display: inline-block;
    font-size: 1.25rem;
}

.about-third .price-small {
    color: #fff;
    display: inline-block;
    font-size: 70%;
}

/* banner oferta */
.offer-banner {
    height: 250px;
}

.offer-banner .big-title {
    color: #fff;
}

.offer-banner .grid-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.opinie-main {
    position: relative;
    margin-top: -5px;
    z-index: -1;
}

@media (min-width: 40em) {
    .opinie-main .opinie-grid-box:last-child .my-grid-x-left::after {
        bottom: -20px;
    }
}

.products .product.has-post-thumbnail {
    transition: .3s ease-in-out;
}

.products .product.has-post-thumbnail:hover {
    opacity: 0.7;
}

/* realizacje */
.realizacje .image-1,
.realizacje .image-2,
.realizacje .image-3,
.realizacje .image-4,
.realizacje .image-5,
.realizacje .image-6,
.realizacje .image-7,
.realizacje .image-8,
.realizacje .image-9,
.realizacje .image-10,
.realizacje .image-11,
.realizacje .image-12 {
    background-image: none;
}

@media (min-width: 40em) {
    
    .offer-banner {
        height: 386px;
    }
    
    .opinie-main {
        margin-top: -10px;
    }

}

@media (min-width: 64em) {
    
    .opinie-main {
        margin-top: -30px;
    }
    
}

/* -------------------------------------------------------
 * Woocommerce
 * -------------------------------------------------------
 */

.iconic-woothumbs-images__arrow i, 
.iconic-woothumbs-zoom-next i, 
.iconic-woothumbs-zoom-prev i {
    display: none;
}

.product-first .left-menu {
    display: block;
}

aside#secondary h4 {
    color: #89ADB1;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.single-product {
    background-image: none;
}

div.single-product {
    background-image: url('../assets/img/ball-of-yarn.png');
    padding-bottom: 100px;
}

div.single-product .iconic-woothumbs-all-images-wrap {
    margin: 0 auto;
}

div.single-product .iconic-woothumbs-thumbnails-wrap {    
    padding-left: 20px;
}

div.single-product .iconic-woothumbs-thumbnails-wrap .slick-track {
    padding-top: 20px;
}

div.single-product .iconic-woothumbs-thumbnails-wrap .iconic-woothumbs-thumbnails__slide {
    margin-right: 20px;
}

div.single-product .price {
    display: none;
}

div.single-product .product_meta {
    display: none;
}

div.single-product .product_title {
    font-size: 25px;
    margin-bottom: 1rem;
    color: #545454;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
}

div.single-product .woocommerce-Tabs-panel {
    margin-bottom: 50px;
}

div.single-product .woocommerce-Tabs-panel--description h2 {
    color: #545454;
    font-size: 30px;
    margin-bottom: 2rem;
}

div.single-product .woocommerce-Tabs-panel--description p {
    font-size: 15px;
}

div.single-product .woocommerce-product-details__short-description {
    display: none;
}

.lmp_products_loading {
    display: none;
}

.lmp_load_more_button .lmp_button {
    display: inline-block !important;
    text-transform: uppercase !important;
    font-weight: 700 !important;
    transition: .3s ease-in-out !important;
}

.woocommerce-breadcrumb {
    font-size: 11px !important;
}

.woocommerce-ordering { 
    display: none; 
}

.woocommerce-result-count {
    display: none;
}

#woof_html_buffer.woof_info_popup {
    background: url('../assets/img/loader.gif') center center no-repeat;
    background-size: 175px;
    border: none;
    box-shadow: none;
    height: 55px;
    padding: 10px;
    text-indent: -9999px;
    width: 55px;
}

.woof_radio_label {
    color: #707070;
    font-weight: 500;
    margin-left: 0;
}

.woof_radio_label:hover {
    color: #7FA9AE;
}

.woof_radio_label.woof_radio_label_selected {
    color: #7FA9AE;
}

.woof_list .iradio_flat-aero {
    display: none;
}

.woof_products_top_panel {
    margin-bottom: 42px;
    margin-top: 0;
}

.woof_products_top_panel a {
    color: #545454;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 42px;
    text-transform: uppercase;
}

.woof_products_top_panel a span {
    background: none;
    cursor: default;
}

.woof_radio_term_reset img {
    display: none;
}

.woof_submit_search_form_container {
    display: none;
}

.woocommerce-tabs .wc-tabs {
    display: none;
}

.woocommerce ul.products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

#products-list-container .woocommerce-loop-product__title {
    min-height: calc(3 * 1rem * 1.4);
    margin: 94px 42px 42px !important;
    padding: 0 !important;
}

@media (min-width: 64em) {
    
    div.single-product .product_title  {
        font-size: 35px;
    }
    
    .woof_products_top_panel a {
        font-size: 40px;
    }
}

.lmp_button {
    color: #fff !important;
}
​
#woof_results_by_ajax .lmp_load_more_button.br_lmp_button_settings .lmp_button:hover {
    color: #7fa9ae !important;​
}
​
.button-green {
    color: #fff !important;
}
​
.arrow-to-button {
    z-index: 1;
}

.logo-wrap:hover {
    opacity: 0;
}

.logo-wrap a:hover {
    opacity: 0.7;
}
​
@media (min-width: 40em) {
​
    .opinie-main .opinie-grid-box:last-child .my-grid-x-left::after,
    .opinie-main .opinie-grid-box:nth-last-child(2):nth-child(even) .my-grid-x-left::after {
        content: url("../assets/img/Rectangle 2 copy 4 kopia.svg") !important;
    }
}